{% extends 'sentiment/index.html' %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h4>Instructions</h4>
    <p>You can explore the relationships between the variables you specified for your model by clicking on the above options.
    To get an overview of all the signals, press <b>Overview</b>. To see correlations of your signals across a time series, press <b>Correlation Graphs</b>.
    To see the correlation matrix for your model, press <b>Correlation Tables</b>.
    For all VAR related calculations, see the <b>Lag Order Tables</b>, which shows
    the lag order selection calculation and the <b>Significance Tables</b> section, which
    shows the statistical significance of the variables for a selected lag.
    Lastly, you can examine other statistical figures by looking at the <b>Statistics Tables</b>. </p>

    </div>
  </div>

</div>
{% endblock %}
