{% extends 'sentiment/index.html' %}
{% load mathfilters %}
{% block main %}
<div class="container">

<table class="table">
  <thead class="thead-light">
    <th>Asset</th>
    <th>Negative Words Naive</th>
    <th>Smarter Negative Words</th>
    <th>Smarter Sentiment</th>
    <th>Smarter Positive Words</th>
    <th>Smarter Sentiment</th>
    <th>Return</th>
    <th>Length</th>
  </thead>
  <tbody>
    {% for index, row in table.iterrows %}
    <tr>
      <td>{{row.asset}}</td>
      <td>{{row.neg_words}}</td>
      <td>{{row.neg_sum}}</td>
      <td>{{row.naive_sent}}</td>
      <td>{{row.pos_sum}}</td>
      <td>{{row.pos_sent}}</td>
      <td>{{row.return}}</td>
      <td>{{row.length}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
